.home-table {
    margin: 20px auto;
    width: 600px;
    border: 0;
    border-collapse: collapse;

    caption {
        display: none;
    }

    th,
    tr,
    td {
        height: 50px;
        font-size: 15px;
        font-weight: normal;
        text-align: center;
        border: 1px solid #000;
    }
}
